form {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-between;
    margin-top: 50px;

    img:nth-child(1) {
        margin-right: 10%;
        margin-left: 10%;
    }

    img:nth-child(2) {
        margin-left: 10%;
    }

}

.button-width {
    width: 78%;
    margin-left: 11%;
}

a {
    &:first-child {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    
    &:hover {
        font-weight: 600;
    }
}

p {
    line-height: 20px;
}