<div class="text-center">
    <div class="mb-3">
        <h3 class="mb-3">Teus clientes <br /> querem te conhecer</h3>
        <p class="mb-0">Adicione duas fotos suas em <br /> posições difentes</p>
        <p><a href="javascrip:void(0)" class="text-muted">Porque?</a></p>
    </div>
    <div class="my-5">
        <div class="circ border-secondary text-secondary">
            <i class="far fa-image fa-3x mt-3"></i>
        </div>

        <app-hr></app-hr>

        <div class="circ border-secondary text-secondary">
            <i class="fas fa-camera fa-3x mt-3"></i>
        </div>
    </div>
    <a href="javascript:void(0)" class="text-muted">Fazer mais tarde</a>
</div>