// .cont {
//     display: flex;
//     flex-direction: column;
//     // align-items: center;
// }

.circ {
    // flex: 1 1 auto;
    width: 85px;
    height: 85px;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 42%;
}

a {
    &:first-child {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    
    &:hover {
        font-weight: 600;
    }
}

p {
    line-height: 20px;
}

// media queries

@media screen and (max-width: 600px) {
    .circ {
        margin-left: 37%;
    }
  }