<!-- if send -->
<nav id="status" *ngIf="sendStepper" class="animated fadeIn">
    <div class="container">
        <div class="row mt-5 justify-content-center text-center">
            <div class="col-auto steps-content">
                <!-- horizontal row -->
                <div class="hr-send"></div>
            </div>
            <!-- steps -->
            <a class="text-white" routerLink="/step-one" routerLinkActive="active">
                <span class="step">
                    <i class="fa fa-map-marked-alt fa-lg"></i>
                </span>
            </a>
            <a class="text-white" routerLink="/step-two" routerLinkActive="active">
                <span class="step">
                    <i class="fa fa-dolly fa-lg"></i>
                </span>
            </a>
            <a class="text-white" routerLink="/step-three" routerLinkActive="active">
                <span class="step">
                    <i class="fa fa-paper-plane fa-lg"></i>
                </span>
            </a>
        </div>
    </div>
</nav>

<!-- if carry -->
<nav id="status" *ngIf="carryStepper" class="animated fadeIn">
    <div class="container">
        <div class="row mt-5 justify-content-center text-center">
            <div class="col-auto steps-content">
                <!-- horizontal row -->
                <div class="hr-carry"></div>
            </div>
            <!-- steps -->
            <a class="text-white" routerLink="/carry-search" routerLinkActive="active">
                <span class="step">
                    <i class="fa fa-map-marked-alt fa-lg"></i>
                </span>
            </a>
            <a class="text-white" routerLink="/carry-products" routerLinkActive="active">
                <span class="step">
                    <i class="fa fa-dolly fa-lg"></i>
                </span>
            </a>
        </div>
    </div>
</nav>