<nav id="status" class="mb-5">
    <div class="container">
        <div class="row mt-5 justify-content-center text-center">
            <div class="col-auto steps-content">
                <!-- horizontal row -->
                <div class="hr"></div>
            </div>
            <!-- steps -->
            <a class="text-white" routerLink="/step-one" routerLinkActive="active">
                <span class="step">
                    <i class="fa fa-map-marked-alt fa-lg"></i>
                </span>
            </a>
            <a class="text-white" routerLink="/step-two" routerLinkActive="active">
                <span class="step">
                    <i class="fa fa-dolly fa-lg"></i>
                </span>
            </a>
            <a class="text-white" routerLink="/final" routerLinkActive="active">
                <span class="step">
                    <i class="fa fa-check-double fa-lg"></i>
                </span>
            </a>
        </div>
    </div>
</nav>