
// Aligning range boxes
.fas.fa-box-open:nth-child(1) {
  font-size: 30px;
  margin-top: 95px;
}
.fas.fa-box-open:nth-child(2) {
  font-size: 55px;
  margin-top: 73px;
}
.fas.fa-box-open:nth-child(3) {
  font-size: 80px;
  margin-top: 50px;
}

.fas.fa-box-open:nth-child(4) {
  font-size: 150px;
  margin-top: -15px;
}

// Adjust range components width
.form-control-range {
  width: 380px;
  margin-left: 50px;
}

.icon-pessoa {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  
  i {
    margin-top: 15px;
    margin-left: 15px;
  }
}


// Horizontal scroll feature
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  -webkit-overflow-scrolling: touch;

  .card {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 15px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.delay {
  animation-delay: .3s;
}
