<div class="container pb-5" *ngIf="showStepTwo">
    <!-- stepper -->
    <app-stepper [sendStepper]="_showStepTwo"></app-stepper>
    <div class="row">
        <p class="col-8 col-md-8 animated zoomIn p-intro p-one mt-5" style="font-size: 16pt; font-weight: 500;">
            O que vai enviar? </p>
        <br /> <br />
    </div>
    <!-- carousel menu -->
    <div class="row justify-content-center">
        <div class="col-8 col-md-8 justify-content-center text-center">

            <!-- first level -->
            <div class="grid" *ngIf="!categorySelected">
                <!-- carousel controllers -->
                <span class="fa fa-chevron-left fa-2x" (click)="scrollLeft()"></span>
                <span class="fa fa-chevron-right fa-2x" (click)="scrollRight()"></span>

                <div class="text-center"></div>
                <div #scrollWrapper class="scrolling-wrapper mt-3 animated fadeInRight">
                    <div class="card" *ngFor="let c of category" (click)="selectCategory(c)">
                        <div class="card-img justify-content-center align-items-center text-center">
                            <img [src]="c.image" width="124" height="150" class="justify-content-center">
                        </div>
                        <h6 class="text-center">{{ c.name }}</h6>
                    </div>
                </div>
            </div>

            <!-- second level -->
            <div class="grid" *ngIf="!productSelected && !showButton">
                <!-- carousel controllers -->
                <span class="fa fa-chevron-left fa-2x" (click)="scrollLeft()"></span>
                <span class="fa fa-chevron-right fa-2x" (click)="scrollRight()"></span>

                <div class="text-center"></div>
                <div #scrollWrapper class="scrolling-wrapper mt-3 animated fadeInRight">
                    <div class="card" *ngFor="let p of product" (click)="fillProduct(p)">
                        <div class="card-img justify-content-center align-items-center text-center">
                            <img [src]="p.image" width="124" height="150" class="justify-content-center">
                        </div>
                        <h6 class="text-muted text-center">{{ p.name }}</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- added products -->
        <div class="col-7 col-md-7 justify-content-center" *ngIf="orderSelected">
            <span class="text-muted" style="font-size: 18pt; font-weight: 600;">Produtos: </span>
        </div>
        <div class="col-7 col-md-7" *ngIf="orderSelected">
            <div class="products alert alert-success">
                <span *ngFor="let item of categories" class="text-center text-muted">
                    {{ item + ', ' }}
                </span>
            </div>
        </div>
    </div>


    <!-- product details -->
    <form [formGroup]="form" class="form-group mt-3">

        <div class="row justify-content-center animated fadeIn">

            <!-- order image preview -->
            <div class="text-center">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 w-100" *ngIf="imgSrc">
                    <img [src]="imgSrc" width="110" height="90" class="btn btn-light" (click)="fileInput.click()" />
                    <input type="file" hidden #fileInput formControlName="orderImage" accept="image/*"
                        (change)="handleFile(file = $event.target.files[0])">
                </div>

                <!-- <ng-template #showPhoto>
                        <img [src]="imgSrc" width="110" height="90" class="img-thumbnail">
                    </ng-template> -->

                <small *ngFor="let validation of validationMsgs.orderImage">
                    <small class="text-danger" *ngIf="form.get('orderImage').errors?.required">{{ validation.message }}
                    </small>
                </small>
            </div>
            <!--END order image preview -->

            <!-- product to send details -->
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 w-100 mb-4 animated fadeIn div-delay">
                <textarea rows="3" cols="3" class="form-control" placeholder="Detalhes da encomenda..."
                    formControlName="orderDetails"></textarea>
                <small *ngFor="let validation of validationMsgs.orderDetails">
                    <small class="text-danger"
                        *ngIf="form.get('orderDetails').hasError(validation.type) && (form.get('orderDetails').dirty || form.get('orderDetails').touched)">{{ validation.message }}
                    </small>
                </small>
                <div class="row mt-2" *ngIf="objectTest !== null && objectTest !== undefined">
                    <div class="col-auto">
                        <button type="button" class="form-control btn btn-light btn-sm" (click)="addCategory()">
                            <span class="fas fa-plus-circle"></span>
                            Adicionar Outra
                        </button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="form-control btn btn-warning btn-sm" (click)="removeProduct()">
                            <span class="fas fa-edit"></span>
                            Modificar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- range -->
        <div class="row justify-content-center animated fadeIn mb-3">
            <div class="col-8 col-md-8 col-lg-8  text-center">
                <!-- range images -->
                <img src="assets/img/range-box.png" alt="" width="60" height="60" class="mr-4 box-align-one">
                <img src="assets/img/range-box.png" alt="" width="80" height="80" class="mr-4 box-align-two">
                <img src="assets/img/range-box.png" alt="" width="100" height="100" class="mr-4 box-align-three">
                <img src="assets/img/range-box.png" alt="" width="120" height="120" class="mr-4 box-align-four">
            </div>
            <!-- range input -->
            <div class="col-6 col-md-6 col-lg-6">
                <input class="form-control custom-range slider" type="range" name="" id="" min="0" max="4" step="1"
                    formControlName="orderSize" (input)="valueChange($event)">
            </div>
        </div>
        <!-- label size -->
        <div class="row justify-content-center">
            <div class="col-auto">
                <label for=""> <strong> {{ size_title }} </strong> {{ size_to_show }} </label>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <label style="color: #c5c5c5;"> {{ designation }} </label>
            </div>
        </div>
        <!-- button -->
        <div class="row justify-content-center mt-5">
            <div class="col-4 col-md-4 animated div-delay">
                <button type="button" class="btn-sm btn-light form-control" [routerLink]="['/step-one']">
                    Voltar
                </button>
            </div>
            <div class="col-4 col-md-4 animated div-delay">
                <button type="button" class="btn-sm btn-success form-control" (click)="showOtherView()">
                    Continuar
                </button>
            </div>
        </div>
    </form>
</div>

<!-- result -->
<div class="container pb-5" *ngIf="showResult">
    <!-- stepper -->
    <app-stepper [sendStepper]="_showStepTwo"></app-stepper>
    <div class="row">
        <p class="animated zoomIn p-intro p-one mt-5" style="font-size: 16pt; font-weight: 500;"> Está tudo certo? </p>
        <br /> <br />
    </div>
    <!-- product details -->
    <div class="form-group mt-5">
        <div class="row justify-content-center mb-4">
            <div class="col-8 col-md-8 mb-4 animated div-delay text-center"
                style="background: #f8f9fa; padding: 15px 0 15px 0;">
                <img [src]="category[objectTest.category].image" width="70" height="60" class="btn btn-light shadow">
                <!-- category label -->
                <label class="ml-4 category-label shadow align-items-center alert alert-light my-auto">{{ sendData.category }}</label>
            </div>
        </div>
        <div class="row justify-content-center animated fadeIn">
            <div class="col-2 col-md-2">
                <!-- product image -->
                <img [src]="imgSrc" width="110" height="90" class="btn btn-light" />
            </div>
            <!-- product to send details -->
            <div class="col-6 col-md-6 mb-4 animated fadeIn div-delay product-to-send alert alert-light">
                <label><b> {{ sendData.product }} </b></label>
                <p> {{ sendData.orderDetails }} </p>
            </div>
        </div>
        <!-- de => para -->
        <div class="row justify-content-center">
            <div class="col-2 col-md-2 animated fadeIn mt-4" style="margin-left: 50px;">
                <!-- vertival row -->
                <div class="vr"></div>
                <div class="round-icon">
                    <span class="fa faIcon fa-map-marked-alt fa-lg"></span>
                </div>
                <div class="round-icon">
                    <span class="fa faIcon fa-map-signs fa-lg"></span>
                </div>
            </div>
            <div class="col-6 col-md-6">
                <div class="from-label"> Partida:
                    <span class="from-to-data"> {{ sendData.departure + ' (' + sendData.departureSpot + ')' }} </span>
                </div>
                <div class="to-label"> Destino:
                    <span class="from-to-data"> {{ sendData.destination }} </span>
                </div>
            </div>
        </div>
        <!-- tamanho -->
        <div class="row justify-content-center">
            <div class="col-2 col-md-2">
                <img style="margin-left: 20px;" src="assets/img/range-box.png" width="80" height="80">
            </div>
            <div class="col-6 col-md-6 alert alert-light size-label">
                <label>Tamanho:
                    <span class="size-data"> {{ sendData.orderSize }} </span>
                </label>
            </div>
        </div>
        <!-- button -->
        <div class="row justify-content-center mt-5">
            <div class="col-4 animated div-delay">
                <button type="button" class="btn-light form-control" (click)="showOtherView()">
                    Voltar
                </button>
            </div>
            <div class="col-4 animated div-delay">
                <button type="submit" class="btn-success form-control" [routerLink]="['/step-three']"
                    (click)="onSubmit()">
                    Confirmar
                </button>
            </div>
        </div>
    </div>
</div>