*{
    width: 100%;
    height: 100%;
}
// logo img
img{
    width: 120px;
    height: 120px;
}
.send-icon{
    margin-top: 50px;
    margin-bottom: 80px;
}
// to indent the wellcome intro-step text
.p-intro{
    font-size: 14pt;
    text-indent: 190px;
}
// placing icons in the input boxes
.input-box{
    position: relative;
    padding-left: 6px;
    padding-right: 40px;
}
.input-icon{
    position: absolute;
    top: 10px;
    left: 880px;
}
// delaying the animation
.p-one{
    animation-delay: 0.5s;
}
.p-two{
    animation-delay: 1.3s;
}
.p-three{
    animation-delay: 2s;
}
.p-four{
    animation-delay: 3.6s;
}
.div-delay{
    animation-delay: 4s;
}
// google map shaddow
.google-map{
    height: 300px;
    width: 100%;
    // border: 1px solid #c5c5c5;
    // background: #c5c5c5;
}