<div class="container">
  <app-stepper></app-stepper>

  <h3 class="animated zoomIn text-muted mb-4">Está tudo certo?</h3>

  <div class="animated slideInLeft delay-one">
    <div id="phone-area" class="mb-3">
      <div class="box-image">
        <i class="fas fa-mobile-alt cell-icon"></i>
      </div>
      <div class="phone-desc ml-2 p-2">
        Telefone Samsung S10 novo
      </div>
    </div>
    <p>
      <i class="fas fa-mobile-alt"></i><span class="ml-2">Celulares e tablets</span>
    </p>
  </div>
  <div class="animated slideInRight delay-two">
    <p>
      <i class="fas fa-map-pin"></i>
      <span class="first ml-2">Partida:</span> Alto Maé Maputo (casa)
    </p>
    <p>
      <i class="fas fa-map-pin"></i>
      <span class="first ml-2">Destino:</span> Bairro da Malanga (casa)
    </p>
    <p>
      <i class="fas fa-box-open"></i>
      <span class="first ml-2">Tamanho:</span> Pequeno (Máx: 5kg)
    </p>
  </div>

  <div>
    <button type="button" class="btn btn-outline-secondary" [routerLink]="['/intro-step']">
      Modificar
    </button>
    <button type="submit" class="btn btn-success animated flash" (click)="addOrder()" >Submeter</button>
  </div>
</div>