*{
    width: 100%;
    height: 100%;
}
// containing
.content-relative{
    position: relative;
}
.content-absolute{
    position: absolute;
}
.send-icon{
    margin-top: 50px;
    margin-bottom: 80px;
}
// to indent the wellcome intro-step text
.p-intro{
    font-size: 14pt;
    text-indent: 110px;
}
// placing icons in the input boxes
.input-box{
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
}
.input-icon{
    position: absolute;
    top: 10px;
    left: 30px;
}
.link-icon{
    position: absolute;
    left: 1000px;
}
/* box range formating */
.box-align-one{
    margin-top: 47px;
}
.box-align-two{
    margin-top: 33px;
}
.box-align-three{
    margin-top: 16px;
}
.range-one{
    width: 60px;
    height: 60px; 
}
.range-two{
    width: 80px;
    height: 80px; 
}
.range-three{
    width: 100px;
    height: 100px; 
}
.range-four{
    width: 120px;
    height: 120px; 
}

// delaying the animation
.p-one{
    animation-delay: 0.5s;
}
.div-delay{
    animation-delay: 2s;
}
// google map shaddow
.google-map{
    height: 300px;
    width: 100%;
    border: 1px solid #c5c5c5;
    background: #c5c5c5;
}