<div class="text-center">
  <div class="mb-3">
    <h3 class="mb-0">Seja o teu próprio boss</h3>
    <h6>Em menos de 24 horas</h6>
  </div>

  <!-- Circles Init -->
  <div class="circles">
    <div class="circle one">
      <div class="circle-icon">
        <i class="far fa-clock fa-2x"></i>
      </div>
    </div>

    <div class="circle two">
      <div class="circle-icon">
        <i class="far fa-money-bill-alt fa-2x"></i>
      </div>
    </div>
  </div>
  <!-- Circles End -->

  <!-- Comments init -->
  <div class="circles">
    <span class="comment">Trabalhe<br>quando quiser</span>
    <span class="comment">Trabalhe<br>o quanto quiser</span>
  </div>
  <!-- Comments end -->

  <button class="btn-outline-danger form-control mt-4" (click)="googleSignIn()">
    Registar com Google
  </button>

  <app-hr></app-hr>

  <form [formGroup]="form">

    <div class="form-group has-search text-left">
      <span class="fas fa-user form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="Nome" formControlName="name" />

      <small *ngFor="let validation of validationMsgs.name">
        <small class="text-danger"
          *ngIf="name.hasError(validation.type) && (name.dirty || name.touched)">{{ validation.message }}
        </small>
      </small>

    </div>

    <div class="form-group has-search text-left">
      <span class="fas fa-phone form-control-feedback"></span>
      <input type="number" class="form-control" placeholder="Telefone" formControlName="phone" />

      <small *ngFor="let validation of validationMsgs.phone">
        <small class="text-danger"
          *ngIf="phone.hasError(validation.type) && (phone.dirty || phone.touched)">{{ validation.message }}
        </small>
      </small>

    </div>

    <div class="form-group has-search text-left">
      <span class="fas fa-envelope form-control-feedback"></span>
      <input type="email" class="form-control" placeholder="Email" formControlName="email" />

      <small *ngFor="let validation of validationMsgs.email">
        <small class="text-danger"
          *ngIf="email.hasError(validation.type) && (email.dirty || email.touched)">{{ validation.message }}
        </small>
      </small>

    </div>

    <div class="container row">
      <button [disabled]="form.invalid" type="button" class="btn btn-success"
        [routerLink]="['/home/confirm']">Confirmar</button>
    </div>

  </form>

</div>