<div class="text-center">
  <div class="mb-3">
    <h3 class="mb-0">Seja o teu próprio boss</h3>
    <h6>Em menos de 24 horas</h6>
  </div>

  <!-- Circles Init -->

  <div class="circles">
    <div class="circle one">
      <div class="circle-icon">
        <i class="far fa-clock fa-2x"></i>
      </div>
      <!-- .call-out .link -->
    </div>
    <!-- .call-out -->

    <div class="circle two">
      <div class="circle-icon">
        <i class="far fa-money-bill-alt fa-2x"></i>
      </div>
      <!-- .call-out .link -->
    </div>
    <!-- .call-out -->
  </div>
  <!-- .call-outs -->
  <!-- Circles End -->
  
  <!-- Comments init -->
  
  <div class="circles">
    <span class="comment">Trabalhe<br >quando quiser</span>
    <span class="comment">Trabalhe<br >quanto quiser</span>
</div>

<!-- Comments end -->

  <button class="btn-outline-danger form-control mt-4">Registar com Google</button>

  <app-hr></app-hr>

  <form>
    <div class="form-group has-search">
      <span class="fas fa-user form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="Nome" />
    </div>
    <div class="form-group has-search">
      <span class="fas fa-phone form-control-feedback"></span>
      <input type="tel" class="form-control" placeholder="Telefone" />
    </div>
    <div class="form-group has-search">
      <span class="fas fa-envelope form-control-feedback"></span>
      <input type="email" class="form-control" placeholder="Email" />
    </div>
    <div class="container row">
      <button type="button" class="btn btn-success">Confirmar</button>
    </div>
  </form>
</div>
