<h3 class="text-center mb-4">
  Bem vindo <span class="text-muted">{{ name }}</span>
</h3>

<button class="btn-outline-danger form-control" (click)="authService.googleSignIn()">
  Entrar com Google
</button>

<app-hr></app-hr>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group has-search">
    <span class="fas fa-envelope form-control-feedback"></span>
    <input type="email" class="form-control" placeholder="Email" formControlName="email" />

    <small *ngFor="let validation of validationMsgs.email">
      <small class="text-danger"
        *ngIf="email.hasError(validation.type) && (email.dirty || email.touched)">{{ validation.message }}
      </small>
    </small>

  </div>
  <div class="form-group has-search">
    <span class="fas fa-lock form-control-feedback"></span>
    <input type="password" class="form-control" placeholder="Password" formControlName="password" />

    <small class="text-muted" *ngIf="!password.touched && !password.dirty">
      Password forte (8 caracteres, pelo menos uma caixa alta e um número)
    </small>

    <small *ngFor="let validation of validationMsgs.password">
      <small class="text-danger"
        *ngIf="password.hasError(validation.type) && (password.dirty || password.touched)">{{ validation.message }}
      </small>
    </small>

  </div>
  <div class="container row">
    <button type="submit" class="btn btn-success mr-2">Entrar</button> 
    <button type="button" class="btn btn-dark" [routerLink]="['/home/signup']">
      Ser novo transportador
    </button>
  </div>
</form>

<!-- [routerLink]="['/home/signup']" -->
