<div class="text-center">
  <h3 class="mb-5">Código de Confirmação</h3>

  <div class="cont">
    <div class="inp">
      <div class="inp-field">
        <input type="text" required />
        <span></span>
      </div>
      <div class="inp-field">
        <input type="text" required />
        <span></span>
      </div>
      <div class="inp-field">
        <input type="text" required />
        <span></span>
      </div>
      <div class="inp-field">
        <input type="text" required />
        <span></span>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-success mt-5" [routerLink]="['/home/carrier-pics']" >
    Confirmar
  </button>
</div>
